# ----------------------------------------------------------------------
# PHOENIX PHP APPLICATION - CONFIGURATION
# ----------------------------------------------------------------------

# PRODUCTION VS DEVELOPMENT (1 = show errors, 0 = hide errors)
APP_DEBUG=1
APP_ENV=development

# REMOTE SSH ACCESS TO SERVER)
REMOTE_SSH_HOST=host
REMOTE_PROJECT_PATH=path/to/project

# DATABASE CONFIGURATION
DB_HOST=localhost
DB_NAME=database
DB_USER=user
DB_PASS=password

#META CONFIGURATION
META_TITLE="Phoenix PHP Core - Best framework for your web applications!"
META_TYPE="website"
META_URL="https://github.com/phoenix84pl/pphpc"
META_DESC="Build your website from scratch with Phoenix PHP Core - the best framework for your web applications!"
META_IMAGE="https://github.com/phoenix84pl/pphpc/assets/img/logo/CMSLogo.png"
META_ICON="/assets/img/logo/CMSLogo.png"

#UI
UI_MODE=tiles

# INTEGRACJA GOOGLE LOGIN (OAUTH 2.0)
GOOGLE_LOGIN_CLIENT_ID=client-id.apps.googleusercontent.com
GOOGLE_LOGIN_SECRET=secret-google
GOOGLE_REDIRECT_URL=https://example.com/auth/google/callback

# Twitter API v2 Credentials
TWITTER_CONSUMER_KEY=abc
TWITTER_CONSUMER_SECRET=def
TWITTER_ACCESS_TOKEN=ghi
TWITTER_ACCESS_TOKEN_SECRET=jkl

#OPENNODE
OPENNODE_API=abcdefghijklmnopqrstuvwxyz

#STRIPE
STRIPE_API=sk_live_abc123
STRIPE_WEBHOOK=whsec_abc123
STRIPE_PMC=pmc_abc123
